<h1>Detalhes do Carro</h1>
<h2>Nome: <%= car.name %></h2>
<p>Marca: <%= car.brand %></p>
<p>Cor: <%= car.color %></p>
<p>Valor: <%= car.value %></p>
<!-- E assim por diante, exibindo todas as informações desejadas -->
