<!DOCTYPE html>
<html>
<head>
  <title>Minha Loja de Carros - Erro</title>
  <link rel="stylesheet" type="text/css" href="/public/estilo.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2 class="mt-4">Erro</h2>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>