<!DOCTYPE html>
<html>
<head>
  <title>Minha Loja de Carros - Login</title>
  <link rel="stylesheet" type="text/css" href="/public/estilo.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2 class="mt-4">Fazer Login</h2>

    <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <script>
        // Exibir um alerta com a mensagem de erro
        alert('<%= error %>');
      </script>
    <% } %>

    <form action="/signin" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>